body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #264d36, #58a55c);
    color: white;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

.juego {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #388e3c;
    color: white;
    border: none;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    overflow: hidden;
}

button img {
    width: 100%; 
    height: auto;
}

button:hover {
    background-color: #43a047;
    transform: scale(1.05);
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#marcadores {
    margin-top: 20px;
    text-align: center;
}

#reiniciar {
    display: none;
    background-color: #388e3c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reiniciar:hover {
    background-color: #43a047;
}
